*{
    margin: 0px;
    padding:0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer{
    background-color: #000;
    align-self: center;
    max-width: 1280px;
    margin:  0 auto;
}
.f_sub{
    padding-left: 20px;
    display:flex;
    color: #f5f5f5;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.f_amteka{
    padding: 97px 50px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
#sf799{
    color: #969393;
}
.f_amteka a {
    background: linear-gradient(90deg, #ff5c4d 0, #eb469f 26.56%, #8341ef 75%, #3f68f9 100%);
    padding: 15px 15px;
    width: 270px;
    color: #f5f5f5;
    text-decoration: none;
    border-radius: 500px;
    font-size: 20px;
    text-align: center;
    transition: all 0.1s ease-in-out;
}
.f_amteka a:hover{
    transform: scale(1.05);
}
.f_amteka a:focus{
        transform: scale(1.05);
}
.f_amteka h1{
    max-width: 480px;
    font-size: 24px;
    line-height: 40px;
    font-size: 45px;
    color: #f5f5f5;
}
.f_amteka_price{
    color: #c8c7c7;
    font-size: 24px;
    line-height: 23px;
    margin: 20px 0 50px 0;
}
.f_sub img{
    position: absolute;
    width: 750px;
    right: 0;
    top:0;
}
.f_amteka_dop_info{
    top:420px;
    position: absolute;
    font-size: 12px;
    color:rgba(255, 255, 255, .4);
}
.test{
    height: 500px;
    background-color: #000;
}
.f_typical
{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.f_typical_img{
    width: 30px;
    height: 30px;
    background-color: #898989;
    mask-size: 28px;
    mask-image:var(--icon-path);
    mask-repeat: no-repeat;
    mask-position: center;
    transition: all 0.2s ease-in-out;
}
.f_typical_img:hover{
    background-color: #f5f5f5;
}
.f_typical_img:focus{
    background-color: #f5f5f5;
}
.f_typical_btn{
    margin: 0 15px;
    font-size: 16px;
    font-weight: 500;
    color: #898989;
    line-height: 28px;
    transition: all 0.2s ease-in-out;
}
.f_typical_btn:hover{
    color:#f5f5f5
}
.f_typical_btn:focus{
    color:#f5f5f5
}
.f_typical_img_stories{
    width: 170px;
    height: 70px;
    background-color: #cecece;
    mask-size: 170px;
    mask-image:var(--icon-path);
    mask-repeat: no-repeat;
    mask-position: center;
    transition:all 0.2s ease-in-out;
}
.f_typical_img_stories:hover{
    background-color: #f5f5f5;
}
.f_typical_img_stories:focus{
    background-color: #f5f5f5;
}
.f_down_text_info {
    margin-top: 30px;
    height: 114px;
    border-top:1px solid #202020;
    display: flex;
    justify-content: space-between;
    padding: 0 5.5%;
    align-items: center;
}
.f_text_info {
    display: flex;
}
.f_text_info p {
    font-weight: 500;
    font-size: 16px;
    color: #898989;
    padding: 5px;
}
.f_text_info a {
    font-weight: 500;
    font-size: 16px;
    color: #898989;
    text-decoration: none;
    padding: 5px;
    transition: all 0.2s ease-in-out;
}
.f_text_info a:hover{
    color:#f5f5f5;
}
.f_text_info a:focus{
    color:#f5f5f5;
}