*{
    margin: 0px;
    padding:0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo{
    width: 170px;

    height: fit-content;
    align-items: center;
}
header {
    position: fixed;
    width: 100%;
    background-color:#1C1C1C;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
a{
    text-decoration: none;
}
.header_btn {
    color:#898989;
    display:flex;
    font-size:14pt;
    align-items: center;
    justify-content: space-around;
    transition: color 0.3s ease-in-out;
    margin: 0px 10px;
}
.header_btn:focus{
     color:#F5F5F5
}
.header_btn:focus .header_btn_img{
    background-color: #F5F5F5;
}
.header_btn:hover .header_btn_img{
    background-color: #F5F5F5;
}
.header_btn_uniq {
    color:#898989;
    display:flex;
    font-size:14pt;
    align-items: center;
    justify-content: space-around;
    transition: all 0.1s ease-in-out;
    margin: 0px 10px;
}
.header_btn_uniq:hover{
    transform: scale(1.05);
}
.header_btn_uniq:focus{
    transform: scale(1.05);
}
.header_btn_img{
    width: 20px;
    height: 20px;
    background-color: #898989;
    mask-image:var(--icon-path);
    mask-repeat: no-repeat;
    mask-position: center;
    transition: all 0.3s ease-in-out;
    padding:5px;
}
.header_btn_img:hover{
    background-color:#7b7a7a;
}
#h_unique_btn{
    margin: 0px 8px 0 15px;
    padding: 6px 30px;
    width: auto;
    height: 28px;
    font-size:10pt;
    border-radius: 100rem;
    text-align: center;
    color:#F5F5F5;
    font-weight: bold;
    background: linear-gradient(90deg, #ff5c4d 0, #eb469f 26.56%, #8341ef 75%, #3f68f9 100%);
}
.h_btn_user{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    border: 2.5px solid #1C1C1C;
}
#userLogo {
    border-radius: 100%;
    background:linear-gradient(90deg, #ff5c4d 0, #eb469f 26.56%, #8341ef 75%, #3f68f9 100%) border-box;
    border: 2.5px solid transparent;
}
.search{
    background-color: rgb(68, 67, 68);
    border-radius:9px;
    display:flex;
    align-items: center;
    width:300px;
    justify-content:space-around;
    padding: 5px;
    height: 25px;
    transition: all 0.3s ease-in-out;
    margin: 0 7px;
    margin-right: 90px;
}
.search:hover{
      background-color: #F5F5F5;
}
.search:has(.srch_inp:focus){
    background-color: #F5F5F5;
}
.srch_inp{
    padding: 3px;
    color: #898989 ;
    background: none;
    border:none;
    font-size: 12px;
    outline: none;
    width: 100%;
}
.srch_inp::placeholder{
    color:#898989;
    opacity: 1;
}
.srch_el{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.srch_btn{
    background: none;
    border:none;
    outline: none;
    display: flex;
    align-items: center;
    margin: 0px 3px;
    cursor: pointer;
}
.srch_a{
    margin: 0px 3px;
    display: flex;
    align-items: center;
     cursor: pointer;
}
.header_btn:hover{
    color:#F5F5F5
}
