body{
    padding: 0;
    margin:0;
}
.player video{
    width: 100vw;
    height:99.9vh;
    margin: auto;
}
.controls{
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    color:#fff;
    padding: 12px;
    align-items: center;
    width: auto;
    display: flex;
    flex-direction: column;
    background:linear-gradient(#ffffff00,rgba(0, 0, 0, 0.548));
    justify-content: space-around;
    padding-bottom: 12px;
    transition: opacity 0.2s ease-in-out,padding 0.2s ease-in-out;
}
.controls.hidden{
    opacity: 0;
    padding-bottom:0px;
    pointer-events: none;
}
#seek{
   flex: 1;
   accent-color: #cc701b;
   margin:0 1px 0 15px
}
.univ_btn{
    font-size: 16px;
    color:white;
    margin: 0 4px;
}
.univ_btn:hover{
    color:#ffffff54;
}
.btns{
    display: flex;
    position: absolute;
    right: 3%;
    bottom:55px;
    transition: right 0.2s ease,opacity 0.2s ease;
}
.btns.hidden{
    opacity: 0;
    right: 0%;
    pointer-events: none;
}
.controls a{
    text-decoration: none;
    font-size: 22px;
    margin:0 7px;
    color: #fff;
}
.controls a:hover{
    color:#ffffff59;
}

.player{
    position: relative;
    width: 100vw;
    background-color: #000;
    height: 100vh;
    display: flex;
}
.film_logo{
    position: absolute;
    right: 36vw;
    opacity: 0.9;
    left: 36vw;
    top:4%;
    width: 28vw;
    transition: top 0.2s ease,opacity 0.2s ease;
}
.film_logo.hidden{
    opacity: 0;
    top:0;
    pointer-events: none;
}
#exitBtn{
    position: absolute;
    text-decoration: none;
    left:1.05%;
    top:1.25%;
    font-size: 32px;
    color: #ffffffee;
    font-weight: 500;
    transition: all 0.2s ease;
}
#exitBtn:hover{
    font-size: 36px;
    font-weight: 700;
}
#exitBtn.hidden{
    opacity: 0;
    top:0;
}
#innerVolBtn{
    display: flex;
    position: absolute;
    bottom: 1.05%;
    left: 4%;
    align-items: center;
}
#volumeSeek{
    width: 3.5vw;
    height: 0.6vh;
    margin: 0;
    cursor: pointer;
    accent-color:#ffffffd3;
    margin-left: 3px;
    transition: all 0.2s ease;
}
#volumeSeek.hidden{
    margin-left: 0;
    pointer-events: none;
    opacity: 0;
    display: none;
}
#volumeBtn{
    font-size: 20px;
    color: #fff;
    margin-right: 0px;
}
#ageRating{
    font-size: 24px;
    position: absolute;
    color:#fff;
    left:1.05%;
    top:1.25%;
    font-weight: 500;
    transition: all 0.2s ease;
}
#ageRating.hidden{
    opacity: 0;
    top:0
}
#seek_container{
    width:100vw;
    display: flex;
    padding-bottom:1.7%;
    bottom: 3%;
}

#time{
    margin:0 14px;
    font-size: 20px;
}
#playBtn{
    position: absolute;
    bottom:1.05%;
    text-align: center;
    left:1.5%;
    font-size: 28px;
}
#sizeChangeBtn{
    position: absolute;
    font-size: 28px;
    right: 1.05%;
    bottom: 1.05%;
}

